<#@ template debug="false" language="C#" #>
<#@ output extension=".txt" #>
<#@ parameter type="System.String" name="ThemeName" #>
<#@ parameter type="System.String" name="BaseTheme" #>
Name: <#=ThemeName#>
Author: The Coevery Team
Website: http://www.coevery.com
Description: Description for the theme
Version: 1.0
BaseTheme: <#=BaseTheme#>
# todo: provide tags
# Tags: Classic, Serif
